.block_ {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_1 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    letter-spacing: -0.5pt;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_2 {
    display: block;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid
    }
.block_3 {
    display: table-row;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_4 {
    display: list-item;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 36pt;
    margin-top: 12pt;
    padding-bottom: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify
    }
.block_5 {
    display: list-item;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 36pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify
    }
.block_6 {
    display: list-item;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 36pt;
    margin-top: 12pt;
    padding-bottom: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid
    }
.block_7 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_8 {
    display: block;
    font-weight: bold;
    letter-spacing: -0.5pt;
    line-height: 1.2;
    margin-bottom: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_9 {
    display: list-item;
    line-height: 1.2;
    margin-bottom: 10pt;
    margin-left: 36pt;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify
    }
.block_10 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.15;
    margin-bottom: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_11 {
    display: block;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_12 {
    display: list-item;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 35.7pt;
    padding-bottom: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify
    }
.block_13 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.08;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-inside: avoid
    }
.block_14 {
    display: block;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_15 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_16 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_17 {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_18 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    margin-bottom: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_19 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.15;
    margin-bottom: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_20 {
    display: block;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_21 {
    display: block;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_22 {
    display: list-item;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 35.7pt;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify
    }
.block_23 {
    display: list-item;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 35.7pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify
    }
.block_24 {
    display: block;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_25 {
    display: list-item;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 35.7pt;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify
    }
.block_26 {
    display: block;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_27 {
    display: list-item;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 36pt;
    padding-bottom: 0;
    padding-top: 0;
    text-align: right
    }
.block_28 {
    display: list-item;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 56.7pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify
    }
.block_29 {
    display: list-item;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 56.7pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify
    }
.block_30 {
    display: block;
    font-size: 0.75em;
    line-height: 1.5;
    margin-bottom: 6pt;
    margin-left: 3.4pt;
    margin-right: 0;
    margin-top: 12pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 35.5pt
    }
.calibre {
    color: black;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: table;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 71.7pt;
    padding-right: 0;
    padding-top: 0
    }
.calibre2 {
    font-style: italic;
    line-height: 1.2
    }
.calibre3 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre4 {
    font-weight: bold
    }
.calibre5 {
    font-style: italic
    }
.calibre6 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre7 {
    display: table-row;
    vertical-align: inherit
    }
.calibre8 {
    height: 289pt;
    line-height: 1.2;
    width: 454pt
    }
.calibre9 {
    display: block;
    float: left;
    height: 120pt;
    width: 386pt
    }
.calibre10 {
    display: block;
    float: left;
    height: 156pt;
    width: 110pt
    }
.calibre11 {
    display: block;
    float: left;
    height: 360pt;
    width: 454pt
    }
.list_ {
    display: block;
    list-style-type: disc;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.table_ {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-indent: 0
    }
.td_ {
    background-color: #FFF;
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: inherit;
    vertical-align: top;
    width: 114pt
    }
.td_1 {
    background-color: #FFF;
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: inherit;
    vertical-align: top;
    width: 87.2pt
    }
.td_2 {
    background-color: #FFF;
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: inherit;
    vertical-align: top;
    width: 119pt
    }
.td_3 {
    background-color: #FFF;
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: table-cell;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: inherit;
    vertical-align: top;
    width: 139pt
    }
.text_ {
    font-size: 1.33333em;
    font-style: italic
    }
.text_1 {
    font-size: 1.5em;
    font-style: italic;
    line-height: 1.2
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

